.About-page{
    margin: 20px;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family:cursive;
    color: green;
}
p{
    text-align: center;
}
.Image{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.product10, .product11, .product12{
    margin-top: 30px;
    border: 5px solid rgb(112, 63, 126);
    border-radius: 25px;
}
.product10{
    width: 450px;
    height: 250px;
    margin-left: 20px;
    background-position: center;
    background-size: cover;
    place-items: center;
    opacity: 20;
}
.product11{
    margin-left: 10vw;
    width: 250px;
    height: 250px;
    text-align: center;
    background-position: center;
    background-size: cover;
    place-items: center;
}
.product12{
    margin-left: 6vw;
    width: 450px;
    height: 250px;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-row-end: auto;
    place-items: center;
}
.product10_text{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 253, 252);
    font-weight: 800;
    margin-top: 190px;
    margin-left:50px;
    margin-right:40px;
    border-radius: 15px;
}
.product11_text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 11.65vw;
    background-color: rgb(254, 232, 205);
    border-radius: 15px;
}
.product12_text1{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(118, 66, 2);
    margin-left:40px;
    margin-right:40px;
    border-radius: 15px;
}
.product12_text2{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rebeccapurple;
    font-weight: 700;
    margin-left:40px;
    margin-right:40px;
    border-radius: 15px;
}
.GoForShop{
    display: flex;
    margin-left: 45%;
    margin-bottom: 10px;
}
.ClickMe{
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.ForShopping{
    padding-left: 10px;
    font-size: 23px;
    font-weight: 600;
    color: blue;
}
h2{
    margin-left: 30%;
    color: blue;
}
h3{
    color: red;
}