.allArt{
  background-color: aquamarine;
}
.shopTitle {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:5vw;
  font-family:'Courier New', Courier, monospace;
  border: 5px dashed rgb(14, 14, 59);
  background-color: rgb(182, 248, 124);
  border-radius: 30%;
  color: blue;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 410px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 350px;
  border-radius: 20px;
  border:7px solid rgb(33, 11, 11);
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
